<div class="comment"> <!-- comment body-->
    <div class="comment-details">
        <small class="time">
            <%= time_ago_in_words(comment.created_at) %>
            <%= comment.created_at == comment.updated_at ? " " : "(edited)" %>
        </small>
        <small class="user">
            <i class="fa fa-user-o"></i>
            <%= link_to author_name(comment), user_path(comment.user) %>
        </small>
        <% if logged_in? %>
            <% if((current_user == comment.user) || current_user.admin?) %>
                <div class="comment-menu">
                <% unless current_user.admin? %>
                    <%= link_to get_edit_comment(comment) do %>
                        <i class="fa fa-pencil editcomment"></i>
                    <% end %>
                <% end %>
                    <%= link_to get_comment(comment), method: :delete, data: {confirm: "Are you sure?"} do %>
                        <i class="fa fa-trash-o deletecomment"></i>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="content">
        <%= comment.content %>
    </div>
</div><!-- comment body ends-->

<!-- comment options -->
<div class="comment sub-options">
    <% unless (comment.commentable_type == 'Comment' )%>                                 <!--to avoid reply to replies -->
    <div class="comment-options">
        <span class="reply-btn"><%= pluralize(comment.comments.count,'reply') %></span>
        <span class="new-reply-btn"> leave a <i class="fa fa-comment"></i> </span>
    </div>
    <% end %>

    <div class="form-container">
        <%= form_for(:comment, url: comment_comments_path(comment)) do |f| %>
            <div class="form-group">
                <input type="text" name="comment[content]" placeholder="Express your view..." class="form-input">
            </div>
            <div class="btn-container">
                <button type="submit" name="commit" class="btn-secondary" data-disable-with="Comment">
                    <i class="fa fa-comment-o"></i>
                </button>
            </div>
        <% end %>
    </div>

    <div class="reply-container">
        <% if comment.comments.any? %>
            <%= render comment.comments %>
        <% end %>
    </div>
</div>
