<%= provide(:title, "users") %>
<h1 class="page-title">All Users</h1>

<div class="users-list">
    <%= will_paginate %>
        <% @users.each do |user| %>
            <%= render user%>
        <% end  %>
    <%= will_paginate %>
    <div class="user me">
        <%= gravatar_for current_user, size:100 %>
        <div><%= link_to "You", current_user %></div>
    </div>
</div>
