<% provide(:title, @user.name) %>
<% if current_user == @user %>
    <div style="float:right">
        <%= link_to 'Settings', edit_user_path %>
        <%= link_to 'Logout', logout_path %>
    </div>
<% end %>
<%= gravatar_for(@user,size: 200) %>
<h3 class="page-title">
    <%= @user.name %> <br>
    <small><%= @user.email %></small>
</h3>

<% if @user.posts.any? %>
    <div class="posts">
        <small><%= author_name(@posts.first) %> have <%= pluralize(@user.posts.count, 'Post') %> </small>
        <div class="posts-container">
            <%= render @posts %>
        </div>
        <%= will_paginate @posts %>
    </div>
<% end %>
