<% provide(:title, @user.name) %>
<%= gravatar_for(@user,size: 200) %>
<h3 class="page-title">
    <%= @user.name %> <br>
    <small><%= @user.email %></small>
</h3>


<% if @user.posts.any? %>
    <div class="posts">
        <small><%= author_name(@posts.first) %> have <%= pluralize(@user.posts.count, 'Post') %> </small>
        <div class="posts-container">
            <%= render @posts %>
        </div>
        <%= will_paginate @posts %>
    </div>
<% end %>

<%# <div class="btn-container">
    <button class="btn-primary">Change Password</button>
    <button class="btn-primary">Edit Details</button>
    <button class="btn-primary">Delete Account</button>
</div> %>
