<%= provide(:title, "reset password") %>

<h1 class="page-container">Reset Password</h1>

<div class="form-container">
    <%= form_for(@user, url: passsword_reset_path(params[:id])) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= hidden_field_tag :email, @user.email%>
        <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-input" %>
        </div>
        <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-input" %>
        </div>
        <div class="btn-container">
            <%= f.submit "Update Password", class: "btn-secondary" %>
        </div>
    <% end %>
</div>
