<div class="post">
  <%= link_to post ,style: 'border:none' do%>
    <div class="post-body">
      <h3 class="title"><%= post.title %></h3>
      <span class="content"><%= post.body[0..100] %>...</span>
      <div style="display:flex;justify-content:space-between" class="timestamp">
        <div>
          Posted <%= time_ago_in_words(post.created_at) %> ago.
        </div>
        <div class="user">by <%= link_to (current_user == post.user ? 'You' : post.user.name), post.user %></div>
      </div>
      <% if current_user == post.user %>
      <div class="btn-container">
          <%= link_to 'Edit', edit_post_path(post), class:'btn-primary' %>
          <%= link_to 'Delete', post_path(post), method: :delete , class:'btn-primary' %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
